/* Fonts */
@font-face {
  font-family: "AnekLatin-Bold";
  src: url("AnekLatin-Bold.woff2") format("woff2"),
    url("AnekLatin-Bold.woff") format("woff");
}
@font-face {
  font-family: "AnekLatin-SemiBold";
  src: url("AnekLatin-SemiBold.woff2") format("woff2"),
    url("AnekLatin-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "AnekLatin-Light";
  src: url("AnekLatin-ExtraLight.woff2") format("woff2"),
    url("AnekLatin-ExtraLight.woff") format("woff");
}

/* Reset */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#stage {
  width: 970px;
  height: 250px;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  font-family: "AnekLatin-Light", sans-serif;
  background-color: #fde380;
}

.hiddenOnload {
  opacity: 0;
}

.copy {
  position: absolute;
  width: 100%;
  font-size: 30.73px;
  padding: 28px 29px;
  color: #191d4c;
  top: 0;
}
.copy span {
  font-family: "AnekLatin-SemiBold";
}

.k, .k1 {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  top: 28px;
}

.kContainer {
  position: relative;
  width: 586.5px;
  z-index: 0;
  margin-right: 28px;
}

.kPath {
  width: 100%;
  position: absolute;
}

.airfryer_open_los {
  width: 320px;
  height: 454px;
  position: absolute;
  top: -184px;
  left: 526px;
}
.magazines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.magazine1 {
  position: absolute;
  width:138.07px;
  top: 32px;
  left: 567px;
  transform: rotate(-2deg);
}
.magazine2 {
  position: absolute;
  width:121.15px;
  top: 43px;
  left:454px;
  transform: rotate(-12deg);
}
.magazine3 {
  position: absolute;
  width:103px;
  top: 70px;
  left: 356px;
  transform: rotate(-19deg);
}

.bottom {
  position: absolute;
  bottom: 0;
  padding: 0 644px 29px 29px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cta {
  font-family: "AnekLatin-SemiBold";
  padding: 6px 18px;
  background-color: #191d4c;
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
}

.bolWrapper {
  width: 116px;
  height: 116px;
  position: absolute;
  top:67px;
  left: 788px;
  z-index: 9;
  -webkit-font-smoothing: antialiased;
}

.bolFace {
  position: absolute;
  width: 116px;
  height: 116px;
  border-radius: 999px;
  overflow: hidden;
}
.back {
  background-color: #fff;
  color: #191d4c;
}
.front {
  background-color: #E10063;
  color: #fff;
}
.bolFace div {
  position: relative;
  width: 116px;
  height: 116px;
}

.back .row1 {
  position: absolute;
  font-family: "AnekLatin-SemiBold";
  font-size: 19.89px;
  width: 100%;
  line-height: 41.1px;
  text-align: center;
  top: 16.97px;
}

.back .row2 {
  position: absolute;
  font-family: "AnekLatin-Bold";
  font-size: 28.11px;
  line-height: 41.5px;
  width: 100%;
  text-align: center;
  top: 40.62px;
}

.front .row1 {
  position: absolute;
  font-family: "AnekLatin-Bold";
  font-size: 26.21px;
  width: 100%;
  text-align: center;
  top: 10px;
}

.front .row2 {
  position: absolute;
  font-family: "AnekLatin-Bold";
  font-size: 26.21px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  top: 30px;
}

.front .row3 {
  position: absolute;
  font-family: "AnekLatin-SemiBold";
  font-size: 19.81px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  top: 56px;
}
.front .row4{
  position: absolute;
  font-family: "AnekLatin-SemiBold";
  font-size: 16.86px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  top: 73px;
}

.logo {
  width: 125.56px;
}
.k-cut {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
}
.k-cut{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#frame2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #fde380; */
}
.float {
  z-index: 5;
  position: absolute;
  width: 207px;
  top: -4px;
  left: 463px;
}