/* Add at the very top of the file */
.hiddenOnload {
    opacity: 0;
}
body {
  margin: 0;
  padding: 0;
}

#stage {
  width: 100%;
  height: 100%;
  position: absolute;
}

.Airfryer{
  top: 110px;
  font-family: 'AnekLatin-SemiBold';
  font-size: 35.8px;
  line-height: 42.5px;
}
.bol{
  position: absolute;
  bottom: 392px;
  left: 50%;
  transform: translateX(-50%);
  width: 207px;
  height: 207px;
  color: #191D4C;
  background-color: #fff;
  z-index: 5;
}
.bol div{
  position: absolute;
}
.twv{
  top: 30.54px;
  font-family: 'anekLatin-semiBold';
  font-size: 35.8px;
  line-height: 74px;
  letter-spacing: -1%;
}
.geld{
  top: 73px;
  font-size:50.6px;
  line-height:74.7px;
}