/* Fonts */

@font-face {
	font-family: 'geomanist';
	font-style: normal;
	font-weight: 400;
	src: url('geomanist-regular.woff2') format('woff2'), url('geomanist-regular.woff') format('woff');
}

@font-face {
	font-family: 'geomanist';
	font-style: normal;
	font-weight: 700;
	src: url('geomanist-bold.woff2') format('woff2'), url('geomanist-bold.woff') format('woff');
}

/* Reset */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	background: none;
}

#stage {
	width: 300px;
	height: 250px;
	position: absolute;
	cursor: pointer;
	overflow: hidden;
	font-family: 'geomanist';
	font-style: normal;
	font-weight: 700;
	color: #FFF;
	line-height: 1;
	background-color: #2E6ECA;
}

.hiddenOnload {
	opacity:0;
}

.ring {
	position: absolute;
	width: 232.57px;
	height: 232.57px;
	top: -145px;
	left: 130px;
}
.ring1 {
	position: absolute;
	width: 333.6px;
	height: 333.6px;
	top:97px;
	left: -148px;
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
}
.logo {
	position: absolute;
	top: 14px;
	width: 142px;
	left: calc(50% - 71px);
	transform-origin: top;
	
}

.gradient {
	position: absolute;
	bottom: 0;
	height: 54px;
	width: 100%;
	left: 0;
	background-image: -webkit-linear-gradient(180deg, rgba(46, 110, 202, 0.00) 0%, #2E6ECA 100%);
	background-image: -moz-linear-gradient(180deg, rgba(46, 110, 202, 0.00) 0%, #2E6ECA 100%);
	background-image: -o-linear-gradient(180deg, rgba(46, 110, 202, 0.00) 0%, #2E6ECA 100%);
	background-image: linear-gradient(180deg, rgba(46, 110, 202, 0.00) 0%, #2E6ECA 100%);
}

.nu_op_je_radio {
	position: absolute;
	top: 125px;
	left: 83px;
	font-size: 13px;
	color: #A8C6F1;
	letter-spacing: 0.26px;
}

.songsoverflow {
	position: absolute;
	top: 142px;
	width: calc(100% - 76px);
	left: 38px;
}

.song {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 8px 0;
}

.song1 {
	border-bottom: 1px solid #A8C6F1;
	padding-bottom: 8px;
}

.song1 .song-copy::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 26px;
	background-image: url('play.svg');
	top: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.song1 .song-copy {
	padding-right: 26px;
}

.song-index {
	width: 45px;
	font-size: 20px;
	line-height: 1;
}

.song-copy {
	position: relative;
	width: calc(100% - 45px);
	font-size: 13px;
	line-height: 1;
}

.song-artist {
	font-weight: 400;
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.song-title {
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 3px;
}

.cta {
	position: absolute;
	top: 184px;
	width: 168px;
	left: calc(50% - 84px);
	height: 38px;
	border-radius: 22.07px;
	background-color: #DC3C96;
	display: flex;
	justify-content: center;
	align-items: center;
}
#intro1{
	width: 107px;
	position: absolute;
	top: -29px;
	left: 50%;
	transform: translateX(-50%);
}
#intro2{
	width: 156px;
	position: absolute;
	top: 3px;
	left: 80px;
}
