@font-face {
	font-family: 'lato';
	src: url('Lato-Bold.woff2') format('woff2'), url('Lato-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'robotoR';
	src: url('Roboto-Regular.woff2') format('woff2'), url('Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'robotoSB';
	src: url('RobotoSlab-SemiBold.woff2') format('woff2'), url('RobotoSlab-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	outline: none;
	cursor: pointer;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	
}

.hiddenOnload {
	opacity: 0;
}

body {
	background-color: #fff !important;
}

#stage {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0px;
	cursor: pointer;
	container-type: size;
	/* background-color: #fff; */
}


.container {
	width: 640px;
	height: 1500px;
	box-sizing: border-box;
	position: absolute;
	display: block;
	/* border: 3px solid black; */
	transition: all 0.5s;
	will-change: transform;
}

/* Top container */
.top {
	height: 147px;
	top: 0;
	width: calc(640px);
	left: 50%;
	transform: translateX(-50%);
	transform-origin: center top;
}

.center {
	height: 1160px;
	top: 50%;
	width: calc(640px);
	left: 50%;
	transform: translateX(-50%);
	transform-origin: center center;
}

/* Bottom container */
.bottom {
	height: 127px;
	width: calc(640px);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transform-origin: center bottom;
}

.copy{
	position: absolute;
	top: 94px;
	left: 50%;
	transform: translateX(-50%);
	color: #0022B6;

	text-align: center;
	font-family: "robotoSB";
	font-size: 52.93px;
	font-style: normal;
	font-weight: 600;
	line-height: 110%;
	width: 100%;
}
.copy span{
	font-family: "robotoR";
		color: #0022B6;
	text-align: center;
	font-size: 52.93px;
	font-style: normal;
	font-weight: 600;
	line-height: 110%;
}
.cta {
	position: absolute;
	left: 157px;
	/* transform: translateX(-50%) !important; */
	bottom: 40px;
	display: flex;
	width: 353px;
	height: 86.85px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 21.79px;
	background: #0022B6;
}

.ctaCopy {
	color: #FFF;
	text-align: center;
	font-family: "lato";
	font-size: 33.029px;
	font-style: normal;
	font-weight: 700;
	line-height: 39.094px; /* 118.361% */
}
.top .logo{
	width: 479px;
	height: 69px;
	position: absolute;
	left: 50%;
	top: 55px;
	transform: translateX( -50%);
}
.bg{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  left: 50%;
  width: 90%;
  height:75% !important ;
  border-radius: 70px 7px;
  background: #FFEB33;
}