@font-face {
	font-family: 'burbank';
	src: url('BurbankBigRegular-Bold.woff2') format('woff2'), url('BurbankBigRegular-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'burbank condensend';
	src: url('BurbankBigCondensed-Bold.woff2') format('woff2'), url('BurbankBigCondensed-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	outline: none;
	/* cursor: pointer; */
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.hiddenOnload {
	opacity: 0;
}

body {
	background-color: transparent !important;
}

#stage {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0px;
	/* cursor: pointer; */
	/* border-width: 27px 27px 27px; */
	border-style: solid none solid solid;
	border-color: white white white;
	border-image: none;
	box-shadow:
		inset 0 3px 0 0 rgb(0, 0, 0),
		/* top */
		inset 3px 0 0 0 rgb(0, 0, 0),
		/* left */
		inset 0 -3px 0 0 rgb(0, 0, 0);
	/* bottom */
	container-type: size;
	cursor: url('cursor1.png') 15 15, auto;
	background-color: #FFCC00 !important;
}

.logo {
	position: absolute;
	width: 200px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.container {
	width: 640px;
	height: 1500px;
	box-sizing: border-box;
	position: absolute;
	display: block;
	/* border: 3px solid black; */
	transition: all 0.5s;
	will-change: transform;
}

/* Top container */
.top {
	height: 171px;
	top: 0;
	margin-top: 55px;
	width: calc(640px);
	left: 50%;
	transform: translateX(-50%);
	transform-origin: center top;
}

.center {
	height: 1074px;
	top: 50%;
	width: calc(640px);
	left: 50%;
	transform: translateX(-50%);
	transform-origin: center center;
}

/* Bottom container */
.bottom {
	height: 180px;
	width: calc(640px);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transform-origin: center bottom;
}

.copytop {
	position: absolute;
	left: 0px;
	max-height: 175.91px;
	width: 610px;
	object-fit:contain;
}

.copy,
.copyTopL {
	position: absolute;
	left: 0px;
	/* transform: translateX(-50%); */
	top: 0px;
	color: #FFF;
	text-align: center;
	font-family: "burbank condensend";
	font-size: 45px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px;
	font-feature-settings: 'liga' off, 'clig' off;
	/* Simuleer buitenste rand */
  	text-shadow:2px 2px 0 #0A0B09, 2px 2px 0 #0A0B09, 2px 2px 0 #0A0B09, 2px 2px 0 #0A0B09, -2px 0px 0 #0A0B09, 2px 0px 0 #0A0B09, 0px -2px 0 #0A0B09, 0px 2px 0 #0A0B09
}

.cta {
	position: absolute;
	left: 157px;
	/* transform: translateX(-50%) !important; */
	bottom: 93px;
	display: flex;
	width: 385.026px;
	height: 70.168px;
	padding: 14.908px 23.852px;
	justify-content: center;
	align-items: center;
	gap: 17.889px;
	flex-shrink: 0;
	border-radius: 23.852px;
	background: #E30513;
}

.ctaCopy {
	color: #FFF;
	text-align: center;
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: "burbank";
	font-size: 26.834px;
	font-style: normal;
	font-weight: 600;
	line-height: 29.815px;
	/* 111.111% */
}

.arrow {
	width: 35.778px;
	height: 35.778px;
	flex-shrink: 0;
}

.border {
	width: 10px;
	background-color: #fff;
	position: absolute;
	height: calc(100% - 260.5px);
	bottom: 0;
	border-top: 3px solid #000;
	transition: height 0.1s ease;
	overflow: auto;
	will-change: height;
}

#right {
	right: 0;
	border-left: 3px solid #000;
}

#left {
	left: 0;
	border-right: 3px solid #000;
}

.joch {
	display: none;
}

.borderTop {
	height: 27px;
	background-color: #fff;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	box-shadow:
		inset 0 3px 0 0 rgb(0, 0, 0);
}

.wallpaper {
	left: 0px !important;
	top: 3px !important;
	height: calc(100% - 6px) !important;
	width: calc(100% - 3px) !important;
}

.strand {
	transform: scale(1) translateY(-50%) !important;
}

.copyTopL {
	display: none !important;
}

.actie {
	width: 617.12px;
	position: absolute;
	top: 50%;
	left: 41px;
	transform: translateY(-50%) !important;
}

@media (max-width: 300px) {
	/* #stage {
		border-width: 17px 17px 17px !important;
	} */


	.strand {
		width: 210.18px !important;
		height: 408.29px !important;
		transform: scale(2.3) translateY(-50%) !important;
		left: 188px !important;
	}

	.cta {
		transform: scale(1.3) !important;
		left: 147px !important;
	}

	.puzzel {
		width: calc(50px * 3) !important;
		height: calc(50px * 6) !important;
	}

	.row1,
	.row2,
	.row3,
	.row4,
	.row5,
	.row6 {
		width: calc(53px * 3) !important;
		height: calc(53px * 1) !important;
	}

	.L,
	.M,
	.R {
		width: 52px !important;
		height: 53px !important;
	}

	.copy {
		top: -35% !important
	}
}

@media (max-width: 300px) and (max-height: 1500px) {
	.strand {
		transform: scale(2.3) translateY(-30%) !important;
	}

	.copy {
		display: none !important;
	}

	.copyTopL {
		display: block !important;
		top: auto !important;
		bottom: 0 !important;
		/* text-shadow:.25px .25px 0 #0A0B09, .25px .25px 0 #0A0B09, .25px .25px 0 #0A0B09, .25px .25px 0 #0A0B09, -.25px 0px 0 #0A0B09, .25px 0px 0 #0A0B09, 0px -.25px 0 #0A0B09, 0px .25px 0 #0A0B09 */

	}

	.copytop {
		top: 0 !important;
	}

	.top {
		height: 271px;
	}
}

@media (max-width: 200px) {
	/* #stage {
		border-width: 10px 10px 10px !important;
	} */

	.copy {
		display: none !important;
	}

	.copyTopL {
		display: none !important;
	}

	.top {
		height: 171px;
	}

	.cta {
		left: 117px !important;
	}

	.center,
	.top,
	.bottom,
	.container {
		width: calc(640px - 13px);
	}

	.container {
		margin-left: 5px;
	}


	.joch {
		display: block;
		position: absolute;
		top: 50%;
		left: calc(50% - 45px);
		transform: translate(-50%, -50%) !important;
		width: calc(100% + 140px);
	}

	.strand {
		display: none;
	}

	.actie {
		top: 30% !important;
		left: 0% !important;
		transform: translateY(-50%) !important;
	}
}

@media (max-width: 200px) and (max-height: 500px) {
	.joch {
		top: 60%;
		width: calc(100% + 70px);
	}

	.actie {
		top: 30% !important;
		width: 80% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
	}
}