body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-size: cover;
}

#stage {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.magazines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -29px;
  left: 69px;
  width: 862px;
  z-index: 2;
}

.magazines img {
  max-width:100px;
  height: auto;
  rotate:10deg;
  margin-left: -15px;
}
.magazines .active{
  width: 116.44px;
}
.bol{
  position: absolute;
  top: 44px;
  right: 10px;
}
.bol div{
  position: absolute;
}
.jaar{
  top: 19px;
  font-family: 'anekLatin-semiBold';
  font-size: 17.47px;
  line-height: 20.7px;
}
.euro{
  top: 24px;
  left: 22.08px;
  font-size: 76.58px;
  line-height: 92.7px;
}
.komma{
  left: 63.48px;
  top: 33.12px;
  font-size: 55.2px;
  line-height: 92.7px;
}
.cent{
  left: 69px;
  top: 36px;
  font-size: 41.13px;
  line-height: 49.8px;
}
.week{
  left: 80.04px;
  top: 81.42px;
  font-family: 'anekLatin-semiBold';
  font-size:13.79px;
  line-height: 16.7px;
}